

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1ff;
}

/* ----------------------------
     this is the header part
-----------------------------*/

.header-line{
    display: flex;
    margin: 15px 10% 15px 10%;
}

.manu{
    margin-top: 35px;
    margin-left: 35%;
    
}

.manu-bar{
    margin-right: 20px;
    text-decoration: none;
    color: rgb(27, 26, 26);
    font-weight: 700;
    font-size: 13px;
}
.manu-bar:hover{
    background-color: rgb(150, 135, 135);
    color: rgb(245, 122, 21);
}


/* ---------------------------------
     this is the main section part
-----------------------------------*/


.main{
    display: flex;
    margin: 15px 10% 15px 10%;
}
.main-left{
    margin-right: 20%;
}

.main-heading{
    font-size: 45px;
    font-weight:bold;
}
.prebook-btn{
    background-color: rgb(236, 27, 79);
    color: white;
    padding:15px 35px 15px 35px;
    text-decoration: none;
    border-radius: 50px 50px 50px 50px;
}
.camera img{
    width: 350px;
}
.camera:hover img{
    
    /* transition: transform 2s ease-in-out;  */
    transition: width 1s ,height 1s,transform 3s;
    transform: rotate(360deg);

}


/* ---------------------------------
     this is the logo part
-----------------------------------*/


.logo-part{
    margin:7% 25% 10px 17%;
     
}
.logos{
    display: flex;
    border: 1px solid rgb(225, 227, 230);
    width: 830px;
    height: 100px;
    align-items: center;
    
    margin-left: 0px;
    background-color: rgb(240, 240, 247);
}
.logo{

    margin-left: 25px;
}





/* -----------------------
        middle part styles
-------------------------- */
.container{
    margin: 95px 120px 25px 100px;
    padding-right: 25px;
}
.cameras{
    text-align: center;
}
.devices{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
    
}
.device{
    background-color: rgb(220, 224, 228);
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    overflow: hidden;

}
.device-banner img{
    width: 100%;
}
.device:hover .device-banner{
    transform: scale(1.1) skew(-30deg);
    transition: transform 2s ease-in-out;
}
.device-details{
    display: grid;
    grid-row-gap:1px ;
}
.device-title{
    font-size: 24px;
    margin: 10px 0 5px 0;
}
.price{
    font-size: 25px;
    margin: 10px 0 10px 0;

}
.property{
    line-height: 24px;
}

.fas.filled{
    font-size: 8px;
    color: #ffc014;
    
}
.fas.empty{
    font-size: 8px;
    color: #aeaeae;
    
}
span{
    font-size: 13px;
}


/* last btn part  */
.last-btn-arrow{
    margin-top: 35px;
    margin-bottom: 55px;
    
}
.see-btn{
    display: flex;
    color: rgba(235, 46, 87, 0.925);
    text-decoration: none;
    justify-content: flex-end;
    font-size: 13px;
    align-items: center;
    font-weight: 700;
    

}

/* footer part  */

.footer-part{
    background-color: rgb(17, 10, 56);
    height: 200px;

}
.footer-1st{
    text-align: center;
    color: white;
    padding-top: 10px;
}
.footer-heading{
    font-size: 25px;
    font-weight: 700px;
    
}
.footer-para{
    font-size: 13px;
}
.footer-logos{
    display: flex;
    justify-content: center;
    align-items: center;  
}
.only-icon{
    color: white;
    display: flex;
    background-color: rgb(143, 140, 140);
    margin: 10px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    
}




/*----------------------
      For Media device
 -------------------------*/

 /* For  ipad  */
@media only screen and (min-width:688px ) and (max-width:992px) {

    .header-line{
        display: flex;
        margin: 15px;
    }
    .manu {
        margin-top: 35px;
        margin-left: 0; 
    }
     .manuhead{
         width: 50%;
     }
    .main{
        display: block;
        margin: 15px;
    }
    .main-left{
        margin-right: 0;
    }
    .camera{
        margin-top: 15px;
    }
    .main{
        display: flex;
        margin: 15px 10% 15px 10%;
    }
    .devices{
        display: grid;
        grid-template-columns: repeat(2,1fr);
       
        
    }
    .container{
        margin: 95px 15px 25px 0px;
        
    }
    .logos{
        display: grid;
        border: 1px solid rgb(225, 227, 230);
        grid-template-columns: repeat(3,1fr);
        width: 100%;
        height: auto;
        align-items: center;
        
        margin-left: 30px;
        background-color: rgb(240, 240, 247);
    }
    .logo-part{
        margin:7% 15px 10px 15px;
         
    }
    .logo{

        margin: 5px 10px;
    }


    
 }

 @media only screen and (max-width:688px) {
     .header-line{
        display: block;
        margin: 15px;
    }
    .manu {
        margin-top: 35px;
        margin-left: 0; 
    }
     .manuhead{
         width: 100%;
     }
    .main{
        display: block;
        margin: 15px;
    }
    .main-left{
        margin-right: 0;
    }
    .camera{
        margin-top: 15px;
    }
    .devices{
        display: grid;
        grid-template-columns: repeat(1,1fr);
       
        
    }
    .container{
        margin: 95px 15px 25px 0px;
        
    }
    .logos{
        display: grid;
        border: 1px solid rgb(225, 227, 230);
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        height: auto;
        align-items: center;
        
        margin-left: 0px;
        background-color: rgb(240, 240, 247);
    }
    .logo-part{
        margin:7% 15px 10px 15px;
         
    }
    .logo{

        margin: 5px 10px;
    }

 }

